*::-webkit-scrollbar {
  width: 1em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/* .lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: block;
} */

.thc{
	color: #5d5d5d;
}
.thc:active,
.thc:focus,
.thc:hover
{
	color: #2c2c2c;
}

.main-outter{
	
	border: 1px solid lightgrey;
	margin: 20px auto;
	border-radius: 10px;
	padding: 15px;
	width: max-content;
	height: max-content;
	width: -moz-max-content;
	height: -moz-max-content;
}
.main {
    font-family: 'Montserrat', sans-serif;
		/* height: 95%;
		width: 100%; */
		width: 85vw;
		height: 65vh;
		resize: vertical;
		overflow: hidden;
		overflow-y: scroll;
    outline: none;
    color: #535353;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
		vertical-align: text-top !important;
		
}
.add-tag > div{
	display: flex;
	align-content: center;
	border: 1px solid #bbb;
border-radius: 4px;
}
.tools {
	display: flex;
	align-items: center;
}
.add-tag .add {
	font-size: 14px;
	/* vertical-align: middle; */
	align-self: center;
	color: #b9b9b9;
	padding: 6px;
	transition: 0.4s ease all;
}
.add-tag .add:active,
.add-tag .add:hover {
	color: #5d5d5d;
}
.add-tag .color-outter {
	display: flex;
	border: 1px solid #8c8c8c;
	margin: 5px;
	width: 20px;
  height: 20px;
  border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.add-tag #color {
	background: white;
	border: 0 !important;
	outline: 0 !important;
	padding: 0 !important;
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	transform: translate(-21%, -24%);
}
.add-tag #tagname:placeholder {
	color:#c3c1c1;
}
.add-tag #tagname {
	border: none;
	/* border: 1px solid gray; */
	border-left: none;
	padding: 6px 10px;
	color: #646363;
}
.add-tag{
	display: inline-block;
}
.lock-status {
	width: 30px !important;
	display: inline-block;
	vertical-align: super;
}

.active-tag {
	padding: 1px 12px;
	display: flex;
}

.active-tag > span {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #6b6b6b;
}

.tag {
	font-size: 11px  ;
	padding: 3px 10px;
	/* background: #560087; */
	color: white;
	border-radius: 2px;
}
.main .tag{

	font-size: 8px !important;
	padding: 1px 4px !important;
	vertical-align: bottom;
}
.selected{
    /* background-color: #ff00004f;
    color: white; */
    padding: 1px 3px;
    margin: 3px;
    border: 2px solid;
    border-radius: 5px;
}

.lock-status .lock{
	display: none;
}